.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: #c6ca3f;
}

.grass {
    background-color: #5bd621;
}

.fire {
    background-color: #f36c0c;
}

.water {
    background-color: #1a51d1;
}

.electric {
    background-color: #816805;
}

.ice {
    background-color: #27d8df;
}

.ground {
    background-color: #88702e;
}

.flying {
    background-color: #5e31db;
}

.poison {
    background-color: #e240e2;
}

.fighting {
    background-color: #e02b21;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #794625;
}

.rock {
    background-color: #776410;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #9662f8;
}

.steel {
    background-color: #413d6d;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #a3546e;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: rgb(10, 10, 10);
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: rgb(241, 241, 241);
    margin-bottom: .30rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 90px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}